.audio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
video {
  width: 200px;
  height: 200px;
}
